.card {
  width: 300px;
  background-color: #F7FBFC;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(62, 176, 184, 0.2);
  position: relative;
  margin: 50px;
  min-height: 400px;
}

.card .info {
  padding: 15px;
  border-radius: 6px 6px 0 0;
  background-color: #fff;
  padding-top: 55px;
}

.user-name {
  font-size: 15px;
  color: #545454;
}

.company-name {
  font-size: 13px;
  margin-top: 5px;
  color: #979797;
}

.company-address {
  font-size: 13px;
  margin-top: 5px;
  color: #979797;
}

.card .about {
  border-top: 2px solid #F5F9FC;
  padding: 10px 15px;
  border-radius: 0 0 6px 6px;
}

.card .about span {
  font-size: 11px;
  margin-top: 5px;
  color: #969A9B;
}

.card .about p {
  font-size: 11px;
  margin-top: 5px;
  color: #545454;
}

.card .about .data-registered {
  font-size: 9px;
  margin-top: 5px;
  color: rgb(187, 187, 187);
  position: absolute;
  bottom: 15px;
  right: 15px;
}